{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Job Hunters</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Main -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

      <!-- Vue and Axios -->
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>

      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


      <!-- You MUST include jQuery before Fomantic -->
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
      <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>


    </head>
    
    <body>
      <div id="header">
        <h1 class="logo">Job Hunters</h1>
        <div class="navbar">
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        {% if user.is_authenticated %}
          <button class="profile_button">
            <img src="{% static 'images/default_profile_img.png'%}" alt="profile image" class="profile_img">
          </button>
        {% else %}
          <button onclick="window.location.href = {% url 'login' %}" method="get">Login</button>
        {% endif %}
      </div>
      <script src="{% static 'scripts/base.js' %}"></script>
      {% block content %}{% endblock %}
    </body>
</html>