{% extends "listings/base.html" %}
{% load static %}

{%block content%}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/create-listing.css' %}">

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
        <script>
            $( function() {
              $( "#datepicker" ).datepicker();
            } );
        </script>
    </head>
    <body>
        <form method="POST" class="job_listing_form" action="">
            {% csrf_token %} 
            {% comment %} {{ form.as_p }} {% endcomment %}
            {{ form.title }}
            <input type="submit" value="Submit"> 
        </form> 
        <p>Date: <input type="text" id="datepicker"></p>
    </body>
    
</html>
{% endblock %}