{% extends "listings/base.html" %}

{% load static %}

{% block content %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}">
</head>

<body>
    <div id="container">
        <div id="menu">Menu</div>
        <div id="listings-container">
            <!-- {% for listing in listings %}
            <div class="listing">{{ listing.title }}</div>
            {% endfor %} -->
            <div class="listing">1</div>
            <div class="listing">2</div>
            <div class="listing">3</div>
            <div class="listing">4</div>
            <div class="listing">5</div>
            <div class="listing">6</div>
            <div class="listing">7</div>
            <div class="listing">8</div>
            <div class="listing">8</div>
            <div class="listing">8</div>
            <div class="listing">8</div>
            <div class="listing">8</div>
            <div class="listing">8</div>
            <div class="listing">8</div>
            <div class="listing">8</div>
            <div class="listing">8</div>
            <div class="listing">8</div>
        </div>
    </div>
    <div class="footer">feet</div>
</body>

</html>
{% endblock %}