{% extends "listings/base.html" %}
{% load static %}

{%block content%}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}">
    </head>
    <body>
        <div class="content">
            <h1>{{ listing.title }}</h1>
            <form method="POST" action="" class="application-form" id="application">
                <div class="sub-form">
                        <p class="application-header">Contact Information</p>
                        <div class="application-fields">
                            {% csrf_token %} 
                            {{ contact_form.as_p }}
                            {% comment %} <input name="full_name" v-model="full_name" id="full_name">{% endcomment %}
                        </div>
                        {% comment %} { form.title }}{% endcomment %}
                        <nav class="application-nav">
                            <none></none>
                            <button class="nav-button right" @click.prevent="contactNext('{{ contact_form.full_name.value }}', '{{ contact_form.address.value }}', '{{ contact_form.country.value }}', '{{ contact_form.city.value }}', '{{ contact_form.zip_code.value }}');">Next</button>
                        </nav>
                    </div>
                <div class="sub-form">
                    <p class="application-header">Work Experiences</p>
                    {% csrf_token %} 
                    {{ experience_form.as_p }} 
                    <nav class="application-nav">
                        <button class="nav-button left" @click="workExperiencesPrev();">Previous</button>
                        <button class="nav-button right" @click="workExperiencesNext();">Next</button>
                    </nav>
                </div>
            </form>
        </div>
        <script src="{% static 'scripts/application.js' %}"></script>
    </body>
</html>
{% endblock %}