{% extends "listings/base.html" %}
{% load static %}

{%block content%}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/listing.css' %}">
</head>

<body>
    <div class="container">
        <div class="listing">
            <div class="listing-info">
                <h1 class="job-name">{{ listing.title }}</h1>
                <h4 class="work-type">{{ listing.work_type }}</h4>
                <h4 class="location">{{ listing.location }}</h4>
                <h4 class="start-date">{{ listing.start_date }}</h4>
            </div>
            <div class="company">
                <h2 class="company-name">{{ listing.user }}</h2>
                <h3 class="address">{{ company.address }}</h3>
            </div>
            <button class="apply">Apply</button>
            <div class="description">{{ listing.work_type }}</div>
        </div>
        <div class="extra-listings-container">
            {% for listing in company_listings %}
            <a class="extra-listing" href="{% url 'listing' listing=listing.pk %}">
                <h5 class="company-name">{{ listing.user }}</h5>
                <h4 class="job-title">{{ listing.title }}</h4>
                <div class="dates">
                    <!-- {{ listing.due_date.day }}
                        {{ listing.due_date.month }} -->
                    {{ listing.start_date.day }}
                    {{ listing.start_date.month }}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>

</html>
{% endblock %}