{% extends "listings/base.html" %}

{% load static %}

{% block content %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}">
</head>

<body>
    <div id="container">
        <div id="menu">
            <div id="menu-subcontainer">
                <div class="menu-item" id="searches">
                    <h4>Search</h4>
                    <label for="job_search">Job:</label>
                    <input @input="filterChange()" v-model="search.jobName" type="search" class="search" id="job_search" name="job_search"
                        placeholder="Search by job name" aria-label="Search by job name">
                    <label for="company_search">Workplace:</label>
                    <input @input="filterChange()" v-model="search.companyName" type="search" class="search" id="company_search" name="company_search"
                        placeholder="Search by company name" aria-label="Search by workplace">
                </div>
                <hr class="menu-seperator">
                <div class="menu-item" id="order_by">
                    <h4>Order by</h4>
                    <select v-on:change="filterChange()" v-model="orderBy" name="date_order" id="date_order">
                        <option value="due_date">Due date of offering</option>
                        <option value="start_date">Date of offering</option>
                    </select>
                </div>
                <hr class="menu-seperator">
                <div class="menu-item" id="filters">
                    <h4>Filters</h4>
                    <div>
                        <label for="category">Category:</label>
                        <select v-on:change="filterChange()" v-model="filters.category" name="category" id="category">
                            <option value="">All</option>
                            <option value="cate1">Make categories</option>
                            <option value="cate2">Make more categories</option>
                            <option value="cate2">Make more categories</option>
                            <option value="cate3">ABCD</option>
                            <option value="cate4">EFGH</option>
                            <option value="cate5">IJKL</option>
                        </select>
                    </div>
                    <div>
                        <label for="already_applied">Already applied:</label>
                        <input v-on:change="filterChange()" v-model="filters.alreadyApplied" type="checkbox" id="already_applied" name="already_applied">
                    </div>
                </div>
            </div>
        </div>
        <div class="listings-container">
            <a v-for="listing in jobListings" class="listing" v-bind:href="'/listing/'+ listing.id">
                <div>
                    <h5 class="company-name">[[ listing.username ]]</h5>
                    <p class="location">[[ listing.location ]]</p>
                </div>
                
                <h4 class="job-title">[[ listing.title ]] - [[ listing.category ]]</h4>
                <div class="dates">
                    <label for="due">Due:</label>
                    <p name="due">[[ listing.due_date ]]</p>
                </div>
            </a>
        </div>
    </div>
    <script src="{% static 'scripts/filter.js' %}"></script>
</body>

</html>
{% endblock %}