.application {
    background-color: yellow;
}

.application-header {
    display: grid;

    margin: 10px;
    border-bottom: 1px solid gray;
}
.application-employer {
}

.application-status {
}

.applications {
    display: grid;
    grid-template-columns: 1fr;

    gap: 25px;
    margin-inline: 20px;
    margin-block: 15px;
}


@media screen and (min-width: 600px) {
    .applications {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 850px) {
    .applications {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width: 1100px) {
    .applications {
        grid-template-columns: repeat(4, 1fr);
    }

}


.application-small {
    display: grid;
    grid-template-columns: 65% 35%;

    background-color: rgb(171, 171, 171);
    color: black;

    border: none;
    border-radius: 8px;
    width: 250px;

    padding: 10px;
    align-items: center;
    justify-self: center;
}

.application-small-employer {
    font-size: 14pt;
    border-radius: 8px;

    width: 150px;
    margin: 0 !important;
}

.application-small-status {
    background-color: rgb(72, 69, 69);
    color: rgb(243, 240, 240);
    font-weight: bold;

    width: fit-content;
    height: fit-content;

    border-radius: 8px;

    padding-block: 5px;
    padding-inline: 7.5px;
    justify-self: right;
}

.approved {
    color: rgb(61, 205, 35);
}

.denied {
    color: rgb(188, 49, 49);
}

.pending {
    color: rgb(107, 106, 106);
}