p, h1 {margin: 0 !important}  

#header {
    display: grid;
    grid-template-columns: 200px auto 80px;
    height: 60px;
    align-items: center;
    background-color: green;

    padding-inline: 20px;
}

.logo {
    background-color: red;
    color: blue;
}

.navbar {
    background-color: yellow;
}

.profile_button {
    display: grid;

    width: 60px;
    margin-right: 20px;

    background-color: transparent;
    border: 0px
}

.profile_img:hover {
    cursor: pointer;
}

.profile_img {
    width: inherit;
}

