#header {
    display: grid;
    grid-template-columns: 200px auto 80px;

    height: 80px;    
    align-items: center;
    background-color: rgb(25, 24, 31);

    padding-inline: 20px;
}

.logo {
    color: #0ea49a;
    background-color: transparent;
    
    width: fit-content;
    border: 0;
    
    font-size: 22pt;
}
.logo:hover {
    cursor: pointer;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 15%;

    width: 100%;
    margin-inline: 5%;
    margin-top: 6pt;
    justify-self: center;

    font-size: 14pt;
}

@media screen and (max-width: 560px) {
    .navbar {
        width: 0;
        font-size: 0;
    }
}

.navbar > a {
    color: rgb(242, 238, 238) !important;
}

.navbar > a:hover {
    color: rgb(193, 188, 188) !important;
}

.profile-button {
    justify-self: right;
    display: grid;
    justify-content: center;

    width: 60px;

    background-color: transparent;
    border: 0px
}

.profile-img:hover {
    cursor: pointer;
}

.profile-img {
    width: inherit;
}

.profile-dropdown {
    background: rgb(25, 24, 31);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    height: 0px;
    width: 125px;
    overflow: hidden;

    position: absolute;
    top: 80px;
    right: 15px;
    
    font-size: 10pt;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    
    align-items: center;
    justify-content: center;
}

.profile-dropdown-option {
    color: rgb(189, 189, 197);
    background-color: transparent;
    border: 0px;
    margin: 0;
    padding: 0;
}

.profile-dropdown-option:hover {
    cursor: pointer;
    color: rgb(165, 165, 173);
}