html {
    overflow-y: scroll;
}

#container {
    width: 100vw;
    height: 100%;
    padding-inline: 5%;
    display: flex;
    overflow: hidden;
}

#menu {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-rows: 20% 5% 15% 5% 25%;
    background-color: #1c1c1c;

    padding-inline: 15px;
    padding-block: 10px;
    
}

@media screen and (max-height: 600px) {
    #menu {
        overflow-y: scroll;
    }
}

#menu-subcontainer {
    margin: auto auto;
    padding-bottom: 20px;
}
/* #menu-subcontainer>label {
    font-size: 24px;
} */

.menu-seperator {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 5px;
}

/* Add space between searches (only between) */
#searches>:not(:last-child) {
    margin-bottom: 15px;
}

#filters>:not(:last-child) {
    margin-bottom: 15px;
}

#listings-container {
    background-color: #465362;
    overflow-y: scroll;
    scrollbar-color: cyan darkslategrey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.listings-container {
    display: grid;
    justify-items: center;

    overflow-y: scroll;
    max-height: calc(100vh - 80px);
    width: 100%;
}

@media screen and (max-width: 600px) {
    .listings-container {
        overflow-y: scroll;
    }
}

@media screen and (min-width: 520px) {
    .listings-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width: 690px) {
    .listings-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 890px) {
    .listings-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1190px) {
    .listings-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width: 1390px) {
    .listings-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

.listing {
    width: 170px;
    height: 230px;
    margin: 30px 15px;
    padding: 20px;
    background-color: #1c1c1c;
    border: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #141415;
}

.listing:hover {
    cursor: pointer;
}

.listing>* {
    margin-left: auto;
    margin-right: auto;
}

.company-name {
    background-color: rgb(72, 69, 69);
    text-align: center;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
}

.job-title {
    text-align: center;
    width: fit-content;
}

.dates {
    text-align: center;
    width: fit-content;
}

.menu-item {
    display: grid;
    justify-content: left;
    padding-left: 5%;
}

input {
    width: max-content;
    height: max-content;
    padding-block: 2.5px;

    color: rgb(14, 14, 14);
    border-radius: 6px;
    background-color: rgb(242, 238, 238);
    border: 2px solid rgb(136, 136, 141);
}

select {
    height: max-content;
    padding-block: 2.5px;
    border-radius: 6px;
    background-color: rgb(242, 238, 238);
    border: 2px solid rgb(136, 136, 141);
}

h4 {
    color: rgb(242, 238, 238);
}

label {
    color: rgb(242, 238, 238);
}