.review {
    margin: 35px;
    padding-bottom: 10px;
    color: rgb(242, 238, 238);
    overflow-y: auto;
    max-height: calc(100vh - 140px);
}
p {
    font-size: 10pt;
}

label {
    font-weight: 600;
    font-size: 12pt;
}

.review-experience {
    background-color: #1c1c1c;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 80px;
    width: fit-content;
}

.review-recommendation {
    background-color: #1c1c1c;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 80px;
    width: fit-content;
}

.review-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
}

.review-button {
    background-color: rgb(72, 69, 69);

    padding-block: 7.5px;
    padding-inline: 10px;

    border-radius: 6px;
    border: 0px;
}

.review-button:hover {
    background-color: rgb(51, 48, 48);
    cursor: pointer;
    
}

.reject {
    color: rgb(188, 49, 49);
}
.reject:hover {
    color: rgb(149, 37, 37);
}

.approve {
    color: rgb(61, 205, 35);
}
.approve:hover {
    color: rgb(36, 141, 18);
}

.review-section {
    margin-bottom: 15px;
}

.status {
    background-color: rgb(72, 69, 69);
    color: rgb(243, 240, 240);
    font-weight: bold;

    width: fit-content;
    height: fit-content;

    border-radius: 8px;

    padding-block: 5px;
    padding-inline: 7.5px;
    justify-self: right;
}

.approved {
    color: rgb(61, 205, 35);
}

.denied {
    color: rgb(188, 49, 49);
}

.pending {
    color: rgb(107, 106, 106);
}

h3 {
    font-size: 20pt;
}