.container {
    width: 80vw;
    background-color: rgb(201, 139, 151);
    margin: auto;
    height: 90vh;  
    overflow-y: auto; 
}




.extra-listings-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.extra-listing {
    height: 200px;
    width: 300px;
    margin: 30px 15px;
    padding: 20px;
    background-color: #8BA6A9;
    border: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #5a696b;
}