.job-listings-top {
    background-color: #1c1c1c;
    width: 100vw;
    padding-inline: 5%;
    padding-block: 10px;
}

.create-button {
    background-color: rgb(72, 69, 69);
    color: rgb(242, 238, 238);

    padding-block: 7.5px;
    padding-inline: 10px;

    border-radius: 6px;
    border: 0px;
}

.create-button:hover {
    background-color: rgb(51, 48, 48);
    color: rgb(204, 200, 200);
    cursor: pointer;
    
}

.job-listings {
    display: grid;
    grid-template-columns: 1fr;

    gap: 25px;
    margin-inline: 20px;
    margin-block: 15px;
}


@media screen and (min-width: 600px) {
    .job-listings {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 850px) {
    .job-listings {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1100px) {
    .job-listings {
        grid-template-columns: repeat(4, 1fr);
    }
}


.job-listing-small {
    display: grid;
    grid-template-rows: max-content auto;

    background-color: #1c1c1c;
    color: rgb(242, 238, 238);

    border: none;
    border-radius: 8px;
    width: 250px;

    padding: 10px;
    align-items: center;
    justify-self: center;
}

.job-listing-small:hover {
    color: rgb(189, 184, 184);
}

.job-listing-small-header {
    font-size: 14pt;
    padding-bottom: 5px;
    
    color: #4183c4;
    border-bottom: 1px solid rgb(180, 176, 176);
    width: 100%;
} 

.job-listing-small:hover > .job-listing-small-header {
    color: rgb(55, 112, 185);
}

.job-listing-small-details {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.job-listing-small-details > p {
    margin: 0 !important;
    padding-block: 2.5px;
}
