{% extends "listings/base.html" %}
{% load static %}

{%block content%}
<html>
  <head>
      <title>Job Hunter - Workplaces</title>
      

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/workplaces.css' %}">
  </head>
    <body>

      <div class="container container-scroll">
        <div class="row">
          {% for workplace in workplaces %}    
          <div class="col-md-4 mb-4">
      
            <a href="{% url 'workplaces' workplace=workplace.pk %}" class="card-link" style="text-decoration: none; color: inherit;">
                <div class="card h-100">
                  <img src="{{ workplace.cover_img.url }}" class="card-img-top img-fluid" alt="Logo of {{ workplace.user.username }}"> 
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ workplace.user.username }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ workplace.address }}</h6>
                    <p class="card-text">{{ workplace.description }}</p>
                  </div>
                </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
        
          
          
          

    <script>
        document.addEventListener("DOMContentLoaded", function() {
          var descriptions = document.querySelectorAll('.card-text');
          descriptions.forEach(function(desc) {
            var maxLength = 100; // Maximum number of characters
            if (desc.textContent.length > maxLength) {
              desc.textContent = desc.textContent.substr(0, maxLength) + '...';
            }
          });
        });
    </script> 
        

    </body>
</html>
{% endblock %}